@model BaiTap.Models.cau_hoi_04

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cau_hoi_04</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Noi_Dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noi_Dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dap_An_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dap_An_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dap_An_B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dap_An_B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dap_An_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dap_An_C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dap_An_D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dap_An_D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dap_An_Dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dap_An_Dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bo_cau_hoi.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bo_cau_hoi.Picture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_cau_hoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
